<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <!--<event name="checkout_cart_update_items_after">-->
    <!--<observer name="model_cart_checkout_update_item_cart" instance="Cowell\Checkout\Observer\UpdateItemCartObserver" />-->
    <!--</event>-->
</config>
