<a href="#" class="pc2015-ad pc2015-for-member pc2015-ad-279x99 pc2015-ad-pos-1-1" target="_blank">
    <img width="279" height="99" alt="" src="">
</a>
<a href="#" class="pc2015-ad pc2015-for-member pc2015-ad-279x99 pc2015-ad-pos-2-1" target="_blank">
    <img width="279" height="99" alt="" src="">
</a>
<a href="#" class="pc2015-ad pc2015-for-member pc2015-ad-279x99 pc2015-ad-pos-1-2" target="_blank">
    <img width="279" height="99" alt="" src="">
</a>
<a href="#" class="pc2015-ad pc2015-for-member pc2015-ad-279x99 pc2015-ad-pos-2-2" target="_blank">
    <img width="279" height="99" alt="" src="">
</a>
<div style="left:585px;position: absolute;">
    <!-- PLACEHOLDERtag start-->
    <span id="CM8CSE_AADD2D811DAA">
        <span id="CM8BWE_AADD2D811DAA">
            <div>
                <a href="" target="_blank">
                <img src="" border="0"></a>
            </div>
        </span>
    </span>
    <!-- PLACEHOLDERtag end-->
</div>