<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Trymsunsoan_Banner::banner_manager" title="Banner Manager" module="Trymsunsoan_Banner" action="banner/index/index" resource="Trymsunsoan_Banner::Banner_manager" />
        <add id="Trymsunsoan_Banner::list_manager" parent="Trymsunsoan_Banner::banner_manager" title="List Banner" module="Trymsunsoan_Banner" action="banner/index/index" resource="Trymsunsoan_Banner::Banner_manager" />
        <add id="Trymsunsoan_Banner::new_banner" parent="Trymsunsoan_Banner::banner_manager" title="New Banner" module="Trymsunsoan_Banner" action="banner/index/new" resource="Trymsunsoan_Banner::Banner_manager" />
    </menu>
</config>
