<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">

    <event name="checkout_cart_product_add_after">
        <observer name="custom_cart_add_after" instance="Cowell\Cart\Observer\CustomAddCartObserver" />
    </event>

    <event name="sales_quote_remove_item">
        <observer name="custom_remove_item" instance="Cowell\Cart\Observer\CustomRemoveItemObserver" />
    </event>

    <event name="checkout_cart_update_items_after">
        <observer name="custom_update_items_cart" instance="Cowell\Cart\Observer\CustomUpdateItemObserver" />
    </event>

    <event name="checkout_cart_product_update_after">
    <observer name="custom_checkout_cart_product_update_after" instance="Cowell\Cart\Observer\CustomUpdateCartObserver" />
    </event>

</config>