<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Thangnt_Banner::banner_manager" title="Thangnt Managerrrr" module="Thangnt_Banner" resource="Thangnt_Banner::banner_manager"/>
        <add id="Thangnt_Banner::list_banner" title="List Banners" module="Thangnt_Banner" action="banner" resource="Thangnt_Banner::banner_manager" parent="Thangnt_Banner::banner_manager"/>
        <add id="Thangnt_Banner::new_banner" title="New Banner" module="Thangnt_Banner" action="banner/index/new" resource="Thangnt_Banner::save" parent="Thangnt_Banner::banner_manager"/>
    </menu>
</config>