@charset "UTF-8";
/* --------------------------------------------------------------------
	サイドボックス
-------------------------------------------------------------------- */
div.sidebox_ {
	margin: 0 0 10px 0;
}
div.sidebox_ h2, h2.event_title_rightmenu_ {
	margin-bottom: 5px;
	padding: 7px 5px 7px 25px;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 1px solid #CCC;
	background: url(../img/usr/sidebox_common_h2.png) center top no-repeat;
}
/* --------------------------------------------------------------------
	サイドボックス　カテゴリツリー
-------------------------------------------------------------------- */
.category_tree_ {
	margin: 0;
	padding: 0;
}
.category_tree_ li {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #CCC;
}
.category_tree_ li a, .category_tree_ li span.nolink_ {
	padding: 5px 10px 5px 10px;
	display: block;
	background-color: transparent;
}
.category_tree_ li a:hover {
	background-color: #F0F0F0;
}
.category_tree_ li.category_tree1_ a, 
.category_tree_ li.category_tree1_ span.nolink_ {
	padding-left: 15px;
	width: 150px;
	background-image: url(../img/usr/tree1.png);
	background-position: 0 8px;
	background-repeat: no-repeat;
}
.category_tree_ li.category_tree1_ a:hover {
	background-image: url(../img/usr/tree1_open.png);
}
.category_tree_ li.category_tree2_ a, 
.category_tree_ li.category_tree2_ span.nolink_ {
	padding-left: 25px;
	width: 135px;
	background-image: url(../img/usr/tree2.png);
	background-position: 10px 8px;
	background-repeat: no-repeat;
}
.category_tree_ li.category_tree2_ a:hover {
	background-image: url(../img/usr/tree2_open.png);
}
.category_tree_ li.category_tree3_ a, 
.category_tree_ li.category_tree3_ span.nolink_ {
	padding-left: 35px;
	width: 125px;
	background-image: url(../img/usr/tree3.png);
	background-position: 20px 8px;
	background-repeat: no-repeat;
}
.category_tree_ li.category_tree3_ a:hover {
	background-image: url(../img/usr/tree3_open.png);
}
.category_tree_ li.category_tree4_ a, 
.category_tree_ li.category_tree4_ span.nolink_ {
	padding-left: 45px;
	width: 115px;
	background-image: url(../img/usr/tree4.png);
	background-position: 30px 8px;
	background-repeat: no-repeat;
}
.category_tree_ li.category_tree4_ a:hover {
	background-image: url(../img/usr/tree4_open.png);
}
.category_tree_ li.category_tree1_open_ a {
	padding-left: 15px;
	font-weight: bold;
	width: 145px;
	background-image: url(../img/usr/tree1_open.png);
	background-position: 0 8px;
	background-repeat: no-repeat;
}
/* 現在のカテゴリ */
.category_tree_ li.category_tree1_open_ a:hover {
}
.category_tree_ li.category_tree2_open_ a {
	padding-left: 25px;
	font-weight: bold;
	width: 135px;
	background-image: url(../img/usr/tree2_open.png);
	background-position: 10px 8px;
	background-repeat: no-repeat;
}
.category_tree_ li.category_tree2_open_ a:hover {
}
.category_tree_ li.category_tree3_open_ a {
	padding-left: 35px;
	font-weight: bold;
	width: 125px;
	background-image: url(../img/usr/tree3_open.png);
	background-position: 20px 8px;
	background-repeat: no-repeat;
}
.category_tree_ li.category_tree3_open_ a:hover {
}
.category_tree_ li.category_tree4_open_ a {
	padding-left: 45px;
	font-weight: bold;
	width: 115px;
	background-image: url(../img/usr/tree4_open.png);
	background-position: 30px 8px;
	background-repeat: no-repeat;
}
.category_tree_ li.category_tree4_open_ a:hover {
}
/**/
/* リンクがない場合 */
.category_tree_ li.category_tree1_ span.nolink_, 
.category_tree_ li.category_tree2_ span.nolink_, 
.category_tree_ li.category_tree3_ span.nolink_, 
.category_tree_ li.category_tree4_ span.nolink_ {
	color: #999;
}
/**/
/* --------------------------------------------------------------------
	サイドボックス　ジャンルツリー
-------------------------------------------------------------------- */
.genre_tree_ {
	margin: 0;
	padding: 0;
}
.genre_tree_ li {
	margin: 0;
	padding: 0;
	border-bottom: 1px dotted #CCC;
}
.genre_tree_ li a, .genre_tree_ li span.nolink_ {
	padding: 5px 10px 5px 10px;
	display: block;
}
.genre_tree_ li a:hover {
	background-color: #F0F0F0;
}
.genre_tree_ li.genre_tree1_ a, 
.genre_tree_ li.genre_tree1_ span.nolink_ {
	padding-left: 15px;
	width: 145px;
	background-image: url(../img/usr/tree1.png);
	background-position: 0 8px;
	background-repeat: no-repeat;
}
.genre_tree_ li.genre_tree1_ a:hover {
	background-image: url(../img/usr/tree1_open.png);
}
.genre_tree_ li.genre_tree2_ a, 
.genre_tree_ li.genre_tree2_ span.nolink_ {
	padding-left: 25px;
	width: 135px;
	background-image: url(../img/usr/tree2.png);
	background-position: 10px 8px;
	background-repeat: no-repeat;
}
.genre_tree_ li.genre_tree2_ a:hover {
	background-image: url(../img/usr/tree2_open.png);
}
.genre_tree_ li.genre_tree3_ a, 
.genre_tree_ li.genre_tree3_ span.nolink_ {
	padding-left: 35px;
	width: 125px;
	background-image: url(../img/usr/tree3.png);
	background-position: 20px 8px;
	background-repeat: no-repeat;
}
.genre_tree_ li.genre_tree3_ a:hover {
	background-image: url(../img/usr/tree3_open.png);
}
.genre_tree_ li.genre_tree4_ a, 
.genre_tree_ li.genre_tree4_ span.nolink_ {
	padding-left: 45px;
	width: 115px;
	background-image: url(../img/usr/tree4.png);
	background-position: 30px 8px;
	background-repeat: no-repeat;
}
.genre_tree_ li.genre_tree4_ a:hover {
	background-image: url(../img/usr/tree4_open.png);
}
/* 現在のカテゴリ */
.genre_tree_ li.genre_tree1_open_ a {
	padding-left: 15px;
	font-weight: bold;
	width: 145px;
	background: url(../img/usr/tree1_open.png) 0 8px no-repeat;
}
.genre_tree_ li.genre_tree1_open_ a:hover {
}
.genre_tree_ li.genre_tree2_open_ a {
	padding-left: 25px;
	font-weight: bold;
	width: 135px;
	background: url(../img/usr/tree2_open.png) 10px 8px no-repeat;
}
.genre_tree_ li.genre_tree2_open_ a:hover {
}
.genre_tree_ li.genre_tree3_open_ a {
	padding-left: 35px;
	font-weight: bold;
	width: 125px;
	background: url(../img/usr/tree3_open.png) 20px 8px no-repeat;
}
.genre_tree_ li.genre_tree3_open_ a:hover {
}
.genre_tree_ li.genre_tree4_open_ a {
	padding-left: 45px;
	font-weight: bold;
	width: 115px;
	background: url(../img/usr/tree4_open.png) 30px 8px no-repeat;
}
.genre_tree_ li.genre_tree4_open_ a:hover {
}
/**/
/* リンクがない場合 */
.genre_tree_ li.genre_tree1_ span.nolink_, 
.genre_tree_ li.genre_tree2_ span.nolink_, 
.genre_tree_ li.genre_tree3_ span.nolink_, 
.genre_tree_ li.genre_tree4_ span.nolink_ {
	color: #999;
}
/**/

/* --------------------------------------------------------------------
	サイドボックス　検索ボックス
--------------------------------------------------------------------- */

#sidebox_search input {
	vertical-align: middle;
}
#sidebox_search .keyword_ {
	width: 125px;
}
#sidebox_search .to_searchdetail {
	padding: 5px 0 0 15px;
	background: url(../img/usr/topiclist.png) 5px 8px no-repeat;
}
/* --------------------------------------------------------------------
	サイドボックス　カート
-------------------------------------------------------------------- */
.cart_title_ {
	display:none;
}
.cart_frame_ {
	padding-bottom:5px;
}
dl.cart_goods_ {
	margin-bottom: 5px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #CCC;
}
dl.cart_goods_ dt {
	text-align: left;
}
dl.cart_goods_ dt div.name1_ {
	float: left;
	width: 118px;
}
dl.cart_goods_ dt div.delete_ {
	padding-left:2px;
	float: left;
}
dl.cart_goods_ dt div.delete_ img {
	cursor: pointer;
}
dl.cart_goods_ dt div.delete_b_ {
	clear: left;
}
dl.cart_goods_ dd {
	text-align: right;
}
dl.cart_total_ {
	margin-bottom: 5px;
	width: 100%;
	overflow: hidden;
}
dl.cart_total_ dt {
	float: left;
	display: inline;
	font-weight: bold;
	letter-spacing: 1em;
}
dl.cart_total_ dd {
	float: right;
	display: inline;
	text-align: right;
}
.cart_postage_ {
	margin-bottom: 10px;
	padding-bottom: 5px;
	font-size: 10px;
	border-bottom: 1px dotted #CCC;
}
.cart_to_order_ {
	text-align: center;
}
.cart_null_ {
}

.cart_errormessages_ {
	display:none;
	font-size: 10px;
}

.cart_erroralert_ {
	font-size: 10px;
	color: #993300;
}


/* --------------------------------------------------------------------
	サイドボックス　履歴
-------------------------------------------------------------------- */
.item_history_link_ {
	padding-left: 15px;
	width: 145px;
	background-image: url(../img/usr/tree1.png);
	background-repeat: no-repeat;
}

