@charset "UTF-8";

/* --------------------------------------------------------------------
	ユーザー定義　html5
--------------------------------------------------------------------- */
header,footer,section,article {
	display: block;
}
/* --------------------------------------------------------------------
	ユーザー定義　マージン
--------------------------------------------------------------------- */
.mt20_ {margin-top: 20px;}
/* --------------------------------------------------------------------
	ユーザー定義　ヘッダー・ブッター・コンテンツ共通







--------------------------------------------------------------------- */
#header_ns .header_inner_,
#header_ns_drug .header_inner_,
#footer_ns .footer_inner_,
#footer_ns_drug .footer_inner_,
.container_ div.contents_ {
	margin: 0 auto;
	padding-right: 9px;
	padding-left: 9px;
	min-width: 1000px;
	max-width: 1280px;
}
.container_ div.contents_.homepage{
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 1006px;
	max-width: 1006px;
}
/* --------------------------------------------------------------------
	ユーザー定義　ヘッダー
--------------------------------------------------------------------- */
#header_ns {
	/*background: url(../img/usr/module/header/bg_header.png) center bottom repeat-x;*/
	background: url(../img/usr/module/header/bg_header_40.png) center bottom repeat-x;
	z-index: 1000;
	position:relative;
}

#membership #header_ns,
#lightmembership #header_ns,
#guest #header_ns {
	background: url(../img/usr/module/header/bg_header_40.png) center bottom repeat-x;
}
#header_ns .header_inner_ {
	position: relative;
	padding-top: 20px;
	background: url(../img/usr/module/header/bg_header_shadow.png) center bottom no-repeat;
	max-width: 1000px;
}
#header_ns #header_top,
#header_ns #header_middle,
#header_ns #header_bottom {
	position: relative;
	width: 100%;
}
#header_ns #header_top {
	margin-bottom: 10px;
	height: 80px;
}
#header_ns #header_middle {
	overflow: hidden;
}
#header_ns #header_bottom {
	height: 40px;
}
#membership #header_ns #header_bottom,
#lightmembership #header_ns #header_bottom,
#guest #header_ns #header_bottom {
	height: 40px;
}
#header_ns #sitelogo {
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
	width: 200px;
}

#header_ns #dispdrugstorename {
	position: relative;
	margin-left: 181px;
}
#header_ns #drugstorename {
	display: table-cell;
	margin: 0;
	padding: 0;
	width: 600px;
	height: 54px;
	vertical-align: middle;
}
#header_ns #drugstorename2 {
	display: table-cell;
	float: left;
	margin: 0;
	padding: 0;
	width: 600px;
}
#header_ns #sitelogo a {
	display: block;
	padding-top: 50px;
	width: 181px;
	height: 0;
	background: url(../img/usr/module/header/gn_logo.png) 0 0 no-repeat;
}
#header_ns #sitelogo_drug_shop {
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
	width: 220px;
}
#header_ns #sitelogo_drug_shop a {
	display: block;
	padding-top: 50px;
	width: 181px;
	height: 0;
	background: url(../img/usr/module/header/gn_logo_drug.png) 0 0 no-repeat;
}
#header_ns #headerpragraph {
	float: left;
	overflow: hidden;
	height: 57px;
	margin-top:0px;
}
#header_ns #headerpragraph span {
	display: block;
	padding-top: 57px;
	background: url(../img/usr/module/header/gn_description.png) -10px 0 no-repeat;
	width:360px;
}
#header_ns #subnav {
	margin-top:8px;
	float: right;
}
#header_ns #subnav a{
	display:block;
	width:100%;
}
#header_ns .homepage #subnav {
	margin-top:47px;
}
#header_ns #subnav .first{
	background: url("../img/usr/module/header/icon_first.png") 0 2px no-repeat;
	padding: 1px 0 1px 20px;
	display:block;
}
#header_ns #subnav .info{
	background: url("../img/usr/module/header/icon_info.png") 0 2px no-repeat;
	padding: 1px 0 1px 20px;
	display:block;
}
#header_ns #subnav .login{
	background: url("../img/usr/module/header/icon_login.png") 0 2px no-repeat;
	padding: 1px 0 1px 20px;
	display:block;
}

#header_ns #subnav li {
	float: left;
	margin-left: 10px;
	padding-left: 12px;
	height: 18px;
	background: url(../img/usr/module/header/gn_border.png) 0 0 no-repeat;
	line-height: 20px;
}
#header_ns #subnav li:first-child {
	background-image: none;
}
#header_ns .subnav_holder{
	width:370px;/*width:380px;*/
	float:right;
	position: absolute;
	top: 10px;
	right: 0px;
	}
#header_ns .menber{
	height: 40px;
	width:270px;
	float:right;
	}

#header_ns .national_ dl {
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
}

#header_ns .gn_left_ {
	float: left;
	background: url(../img/usr/module/header/bg_near.png) 0 0 repeat-x;
	}
#header_ns .gn_left_.as{
	float: left;
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
	}
#header_ns .gn_right_ {
	float: right;
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
}
#header_ns .gn_left_ dl,
#header_ns .gn_right_ {
	overflow: hidden;
	padding: 0 4px;
}
#header_ns .gn_left_ dl {
}
#header_ns .gn_left_  .national dl
 {
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
}
#header_ns .gn_left_ dd,
#header_ns .gn_right_ dd {
	overflow: hidden;
	height: 54px;
}
#header_ns .gn_left_ li,
#header_ns .gn_right_ li {
	float: left;
}

#header_ns #gn_top,
#header_ns .gn_left_ dd li
{
	overflow: hidden;
	margin-right: 1.3px;
	padding-right: 0px;
	width: 104.4px;
	height: 45px;
}
#header_ns .gn_right_ dd li
{
	overflow: hidden;
	margin-right: 0px;
	padding-right: 0px;
	width: 185px;
	height: 45px;
}
#header_ns .gn_left_ .lastchild_,
#header_ns .gn_right_ .lastchild_ {
	margin-right: 0;
	padding-right: 0;
	background-image: none;
}
#header_ns #gn_top {
	margin-top: 25px;
	margin-left: 3px;
	margin-right:0px;
	width: 60px;
}

#header_ns .gn_left_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 100px;
	background: url(../img/usr/module/header/gn.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
#header_ns .gn_right_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 185px;
	background: url(../img/usr/module/header/gn.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
#header_ns .gn_left_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 100px;
	background: url(../img/usr/module/header/gn.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
#header_ns .gn_right_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 185px;
	background: url(../img/usr/module/header/gn.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
html*#header_ns .gn_left_ dd li a,
html*#header_ns .gn_right_ dd li a {
	padding-top: 15px;
}

#header_ns #gn_top a:hover,
#header_ns .gn_left_ dd li a:hover,
#header_ns .gn_right_ dd li a:hover {
		color:#ffffff;
		text-decoration:none;
	}

#header_ns #gn_top a.two,
#header_ns .gn_left_ dd li a.two,
#header_ns .gn_right_ dd li a.two {
    padding-top: 3px;
	}
html*#header_ns #gn_top a.two,
html*#header_ns .gn_left_ dd li a.two,
html*#header_ns .gn_right_ dd li a.two {
    padding-top: 8px;
	}

/*#header_ns #gn_top a.current_,*/
#header_ns .gn_left_ dd li a.current_,
#header_ns .gn_right_ dd li a.current_ {
	/*padding-top: 51px;*/
	cursor: default;
	color:#ffffff;
	text-decoration:none;
}

#header_ns #gn_top a.current_ {
	cursor: hand;
	color:#ffffff;
	text-decoration:none;
}

#header_ns #gn_top a {
	width: 60px;
}
#header_ns #gn_topvalue a {
	background-position: -70px 0;
}
#header_ns #gn_food a {
	background-position: -180px 0;
}
#header_ns #gn_goods a {
	background-position: -290px 0;
}
#header_ns #gn_medicine a {
	background-position: -400px 0;
}
#header_ns #gn_baby a {
	background-position: -510px 0;
}
#header_ns #gn_ns a {
	background-position: -620px 0;
	/*background: url("../img/usr/module/header/gn_3.png") 0 0!important;*/
}
#header_ns #gn_shop a {
	background-position: -1009px 0;
}
#header_ns #gn_gift a {
	background-position: -900px 0;
}
#header_ns #gn_top a:hover {
	background-position: 0 -51px;
}
#header_ns #gn_topvalue a:hover {
	background-position: -70px -51px;
}
#header_ns #gn_food a:hover {
	background-position: -180px -51px;
}
#header_ns #gn_goods a:hover {
	background-position: -290px -51px;
}
#header_ns #gn_medicine a:hover {
	background-position: -400px -51px;
}
#header_ns #gn_baby a:hover {
	background-position: -510px -51px;
}
#header_ns #gn_ns a:hover {
	background-position: -620px -51px;
	/*background: url("../img/usr/module/header/gn_3_on.png") 0 0!important;*/
}
#header_ns #gn_shop a:hover {
	background-position: -1009px -51px;
}
#header_ns #gn_gift a:hover {
	background-position: -900px -51px;
}
#header_ns #gn_top a.current_ {
	background-position: 0 -102px;
}
#header_ns #gn_topvalue a.current_ {
	background-position: -70px -102px;
}
#header_ns #gn_food a.current_ {
	background-position: -180px -102px;
}
#header_ns #gn_goods a.current_ {
	background-position: -290px -102px;
}
#header_ns #gn_medicine a.current_ {
	background-position: -400px -102px;
}
#header_ns #gn_baby a.current_ {
	background-position: -510px -102px;
}
#header_ns #gn_ns a.current_ {
	background-position: -620px -102px;
	/*background: url("../img/usr/module/header/gn_3_active.png") 0 0!important;*/
}
#header_ns #gn_shop a.current_ {
	background-position: -1009px -102px;
}
#header_ns #gn_gift a.current_ {
	background-position: -900px -102px;
}

#header_ns #header_bottom  form,
#header_ns .sn_ li {
	float: left;
}
#header_ns .servicemenu_ {
	float: right;
}
#header_ns #header_bottom  form,
#header_ns #header_bottom  input {
	height: 20px;
	line-height: 19px;
}
#header_ns .sn_ {
	margin-top: 10px;
	margin-left: 10px;
}
#header_ns .sn_ .sn_category_ {
	margin-right: 10px;
}
#header_ns .sn_ .sn_search_ {
	padding-left: 25px;
	height: 21px;
	background: url(../img/usr/module/header/bg_sn.png) 0 0 no-repeat;
}
#header_ns .sn_ .sn_search_ .searchwords_ {
	padding: 0 3px;
	width: 450px;
	background: url(../img/usr/module/header/bg_input.png) right top no-repeat;
	border: none;
}
#header_ns .servicemenu_ li {
	margin: 10px 15px 0 0;
	line-height: 20px;
}
#header_ns .sm_memo_,
#header_ns .sm_cart_,
#header_ns .sm_servicemenu_ {
	float: left;
}
#header_ns .sm_memo_ {
	padding-left: 20px;
	background: url(../img/usr/module/header/icon_memo.png) left 0 no-repeat;
}
#header_ns .sm_cart_ {
	padding-left: 25px;
	background: url(../img/usr/module/header/icon_cart.png) left 0 no-repeat;
}
#header_ns .sm_servicemenu_ {
	position: relative;
	padding-right: 14px;
	background: url(../img/usr/module/header/icon_arrow.png) right 0 no-repeat;
}
#header_ns .sm_servicemenu_ ul.lowermenu_ {
	display: none;
}
#header_ns .sm_servicemenu_:hover ul.lowermenu_ {
	display: block;
	position: absolute;
	right: -5px;
	z-index: 100;
	padding-top: 10px;
}
*+html #header_ns .sm_servicemenu_:hover ul.lowermenu_ {
	padding-top: 26px;
}
#header_ns .sm_servicemenu_ ul.lowermenu_ li {
	float: none;
	margin: 0;
	width: 178px;
	border: 1px solid #b0237b;
	border-top: none;
}
#header_ns .sm_servicemenu_ ul.lowermenu_ li a {
	display: block;
	padding: 3px 5px;
	background-color: #ffffff;
}
*+html #header_ns .sm_servicemenu_ ul.lowermenu_ li a {
	height: 20px;
	line-height: 20px;
}
#header_ns .sm_servicemenu_ ul.lowermenu_ li a:hover {
	background-color: #ffe3f3;
}

#header_ns a {
	color: #333333;
}
#header_ns #header_bottom li a {
	color: #ffffff;
}
#header_ns #header_bottom .sm_servicemenu_ ul.lowermenu_ li a {
	color: #b0237b;
}

/* --------------------------------------------------------------------
	ユーザー定義　ヘッダー(医薬品専門店)
--------------------------------------------------------------------- */
#header_ns_drug {
	/*background: url(../img/usr/module/header/bg_header.png) center bottom repeat-x;*/
	background: url(../img/usr/module/header/bg_header_40_drug.png) center bottom repeat-x;
	z-index: 1000;
	position:relative;
}

#membership #header_ns_drug,
#lightmembership #header_ns_drug,
#guest #header_ns_drug {
	background: url(../img/usr/module/header/bg_header_40_drug.png) center bottom repeat-x;
}
#header_ns_drug .header_inner_ {
	position: relative;
	padding-top: 20px;
	background: url(../img/usr/module/header/bg_header_shadow.png) center bottom no-repeat;
	max-width: 1000px;
}
#header_ns_drug #header_top,
#header_ns_drug #header_middle,
#header_ns_drug #header_bottom {
	position: relative;
	width: 100%;
}
#header_ns_drug #header_top {
	margin-bottom: 10px;
	height: 67px;
}
#header_ns_drug #header_middle {
	overflow: hidden;
}
#header_ns_drug #header_bottom {
	height: 40px;
}
#membership #header_ns_drug #header_bottom,
#lightmembership #header_ns_drug #header_bottom,
#guest #header_ns_drug #header_bottom {
	height: 40px;
}
#header_ns_drug #sitelogo {
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
	width: 220px;
}
#header_ns_drug #sitelogo a {
	display: block;
	padding-top: 50px;
	width: 181px;
	height: 0;
	background: url(../img/usr/module/header/gn_logo.png) 0 0 no-repeat;
}
#header_ns_drug #sitelogo_drug_shop {
	overflow: hidden;
	float: left;
	margin: 0;
	padding: 0;
	width: 220px;
}
#header_ns_drug #sitelogo_drug_shop a {
	display: block;
	padding-top: 50px;
	width: 181px;
	height: 0;
	background: url(../img/usr/module/header/gn_logo_drug.png) 0 0 no-repeat;
}
#header_ns_drug #headerpragraph {
	float: left;
	overflow: hidden;
	height: 57px;
	margin-top:10px;
}
#header_ns_drug #headerpragraph span {
	display: block;
	padding-top: 57px;
	background: url(../img/usr/module/header/gn_description.png) -10px 0 no-repeat;
	width:360px;
}
#header_ns_drug #subnav {
	margin-top:8px;
	float: right;
}
#header_ns_drug #subnav a{
	display:block;
	width:100%;
}
#header_ns_drug .homepage #subnav {
	margin-top:47px;
}
#header_ns_drug #subnav .first{
	background: url("../img/usr/module/header/icon_first.png") 0 2px no-repeat;
	padding: 1px 0 1px 20px;
	display:block;
}
#header_ns_drug #subnav .info{
	background: url("../img/usr/module/header/icon_info.png") 0 2px no-repeat;
	padding: 1px 0 1px 20px;
	display:block;
}
#header_ns_drug #subnav .login{
	background: url("../img/usr/module/header/icon_login.png") 0 2px no-repeat;
	padding: 1px 0 1px 20px;
	display:block;
}

#header_ns_drug #subnav li {
	float: left;
	margin-left: 10px;
	padding-left: 12px;
	height: 18px;
	background: url(../img/usr/module/header/gn_border.png) 0 0 no-repeat;
	line-height: 20px;
}
#header_ns_drug #subnav li:first-child {
	background-image: none;
}
#header_ns_drug .subnav_holder{
	width:370px;/*width:380px;*/
	float:right;
	}
#header_ns_drug .menber{
	height: 40px;
	width:270px;
	float:right;
	}

#header_ns_drug .national_ dl {
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
}

#header_ns_drug .gn_left_ {
	float: left;
	background: url(../img/usr/module/header/bg_near_drug.png) 0 0 repeat-x;
	}
#header_ns_drug .gn_left_.as{
	float: left;
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
	}
#header_ns_drug .gn_right_ {
	float: right;
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
}
#header_ns_drug .gn_left_ dl,
#header_ns_drug .gn_right_ {
	overflow: hidden;
	padding: 0 4px;
}
#header_ns_drug .gn_left_ dl {
}
#header_ns_drug .gn_left_  .national dl
 {
	background: url(../img/usr/module/header/bg_national.png) 0 0 repeat-x;
}
#header_ns_drug .gn_left_ dd,
#header_ns_drug .gn_right_ dd {
	overflow: hidden;
	height: 54px;
}
#header_ns_drug .gn_left_ li,
#header_ns_drug .gn_right_ li {
	float: left;
}

#header_ns_drug #gn_top,
#header_ns_drug .gn_left_ dd li
{
	overflow: hidden;
	margin-right: 1.3px;
	padding-right: 0px;
	width: 104.4px;
	height: 45px;
}
#header_ns_drug .gn_right_ dd li
{
	overflow: hidden;
	margin-right: 0px;
	padding-right: 0px;
	width: 185px;
	height: 45px;
}
#header_ns_drug .gn_left_ .lastchild_,
#header_ns_drug .gn_right_ .lastchild_ {
	margin-right: 0;
	padding-right: 0;
	background-image: none;
}
#header_ns_drug #gn_top {
	margin-top: 25px;
	margin-left: 3px;
	margin-right:0px;
	width: 60px;
}

#header_ns_drug .gn_left_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 100px;
	background: url(../img/usr/module/header/gn_drug.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
#header_ns_drug .gn_right_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 185px;
	background: url(../img/usr/module/header/gn_drug.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
#header_ns_drug .gn_left_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 100px;
	background: url(../img/usr/module/header/gn_drug.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
#header_ns_drug .gn_right_ dd li a
{
	display: block;
/*
	padding-top: 45px;
*/
	width: 185px;
	background: url(../img/usr/module/header/gn.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 4px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}
html*#header_ns_drug .gn_left_ dd li a,
html*#header_ns_drug .gn_right_ dd li a {
	padding-top: 15px;
}

#header_ns_drug #gn_top a:hover,
#header_ns_drug .gn_left_ dd li a:hover,
#header_ns_drug .gn_right_ dd li a:hover {
		color:#ffffff;
		text-decoration:none;
	}

#header_ns_drug #gn_top a.two,
#header_ns_drug .gn_left_ dd li a.two,
#header_ns_drug .gn_right_ dd li a.two {
    padding-top: 3px;
	}
html*#header_ns_drug #gn_top a.two,
html*#header_ns_drug .gn_left_ dd li a.two,
html*#header_ns_drug .gn_right_ dd li a.two {
    padding-top: 8px;
	}

/*#header_ns_drug #gn_top a.current_,*/
#header_ns_drug .gn_left_ dd li a.current_,
#header_ns_drug .gn_right_ dd li a.current_ {
	/*padding-top: 51px;*/
	cursor: default;
	color:#ffffff;
	text-decoration:none;
}

#header_ns_drug #gn_top a.current_ {
	cursor: hand;
	color:#ffffff;
	text-decoration:none;
}

#header_ns_drug #gn_top a {
	width: 60px;
}
#header_ns_drug #gn_topvalue a {
	background-position: -70px 0;
}
#header_ns_drug #gn_food a {
	background-position: -180px 0;
}
#header_ns_drug #gn_goods a {
	background-position: -290px 0;
}
#header_ns_drug #gn_medicine a {
	background-position: -400px 0;
}
#header_ns_drug #gn_baby a {
	background-position: -510px 0;
}
#header_ns_drug #gn_ns a {
	background-position: -290px 0;
	/*background: url("../img/usr/module/header/gn_3.png") 0 0!important;*/
}
#header_ns_drug #gn_shop a {
	background-position: -1009px 0;
}
#header_ns_drug #gn_gift a {
	background-position: -900px 0;
}
#header_ns_drug #gn_top a:hover {
	background-position: 0 -51px;
}
#header_ns_drug #gn_topvalue a:hover {
	background-position: -70px -51px;
}
#header_ns_drug #gn_food a:hover {
	background-position: -180px -51px;
}
#header_ns_drug #gn_goods a:hover {
	background-position: -290px -51px;
}
#header_ns_drug #gn_medicine a:hover {
	background-position: -400px -51px;
}
#header_ns_drug #gn_baby a:hover {
	background-position: -510px -51px;
}
#header_ns_drug #gn_ns a:hover {
	background-position: -290px -51px;
	/*background: url("../img/usr/module/header/gn_3_on.png") 0 0!important;*/
}
#header_ns_drug #gn_shop a:hover {
	background-position: -1009px -51px;
}
#header_ns_drug #gn_gift a:hover {
	background-position: -900px -51px;
}
#header_ns_drug #gn_top a.current_ {
	background-position: 0 -102px;
}
#header_ns_drug #gn_topvalue a.current_ {
	background-position: -70px -102px;
}
#header_ns_drug #gn_food a.current_ {
	background-position: -180px -102px;
}
#header_ns_drug #gn_goods a.current_ {
	background-position: -290px -102px;
}
#header_ns_drug #gn_medicine a.current_ {
	background-position: -400px -102px;
}
#header_ns_drug #gn_baby a.current_ {
	background-position: -510px -102px;
}
#header_ns_drug #gn_ns a.current_ {
	background-position: -620px -102px;
	/*background: url("../img/usr/module/header/gn_3_active.png") 0 0!important;*/
}
#header_ns_drug #gn_shop a.current_ {
	background-position: -1009px -102px;
}
#header_ns_drug #gn_gift a.current_ {
	background-position: -900px -102px;
}

#header_ns_drug #header_bottom  form,
#header_ns_drug .sn_ li {
	float: left;
}
#header_ns_drug .servicemenu_ {
	float: right;
}
#header_ns_drug #header_bottom  form,
#header_ns_drug #header_bottom  input {
	height: 20px;
	line-height: 19px;
}
#header_ns_drug .sn_ {
	margin-top: 10px;
	margin-left: 10px;
}
#header_ns_drug .sn_ .sn_category_ {
	margin-right: 10px;
}
#header_ns_drug .sn_ .sn_search_ {
	padding-left: 25px;
	height: 21px;
	background: url(../img/usr/module/header/bg_sn_drug.png) 0 0 no-repeat;
}
#header_ns_drug .sn_ .sn_search_ .searchwords_ {
	padding: 0 3px;
	width: 305px;
	background: url(../img/usr/module/header/bg_input.png) right top no-repeat;
	border: none;
}
#header_ns_drug .servicemenu_ li {
	margin: 10px 15px 0 0;
	line-height: 20px;
}
#header_ns_drug .sm_memo_,
#header_ns_drug .sm_cart_,
#header_ns_drug .sm_servicemenu_ {
	float: left;
}
#header_ns_drug .sm_memo_ {
	padding-left: 20px;
	background: url(../img/usr/module/header/icon_memo.png) left 0 no-repeat;
}
#header_ns_drug .sm_cart_ {
	padding-left: 25px;
	background: url(../img/usr/module/header/icon_cart.png) left 0 no-repeat;
}
#header_ns_drug .sm_servicemenu_ {
	position: relative;
	padding-right: 14px;
	background: url(../img/usr/module/header/icon_arrow.png) right 0 no-repeat;
}
#header_ns_drug .sm_servicemenu_ ul.lowermenu_ {
	display: none;
}
#header_ns_drug .sm_servicemenu_:hover ul.lowermenu_ {
	display: block;
	position: absolute;
	right: -5px;
	z-index: 100;
	padding-top: 10px;
}
*+html #header_ns_drug .sm_servicemenu_:hover ul.lowermenu_ {
	padding-top: 26px;
}
#header_ns_drug .sm_servicemenu_ ul.lowermenu_ li {
	float: none;
	margin: 0;
	width: 178px;
	border: 1px solid #b0237b;
	border-top: none;
}
#header_ns_drug .sm_servicemenu_ ul.lowermenu_ li a {
	display: block;
	padding: 3px 5px;
	background-color: #ffffff;
}
*+html #header_ns_drug .sm_servicemenu_ ul.lowermenu_ li a {
	height: 20px;
	line-height: 20px;
}
#header_ns_drug .sm_servicemenu_ ul.lowermenu_ li a:hover {
	background-color: #ffe3f3;
}

#header_ns_drug a {
	color: #333333;
}
#header_ns_drug #header_bottom li a {
	color: #ffffff;
}
#header_ns_drug #header_bottom .sm_servicemenu_ ul.lowermenu_ li a {
	color: #b0237b;
}

/* --------------------------------------------------------------------
	ユーザー定義　コンテンツ（トップバナー）







--------------------------------------------------------------------- */
div.campaign_ {
	margin-top: 3px;
	width: 100%;
	height: 45px;
	background-color: #f7b902;
}
div.campaign_ div.contents_ {
	text-align: center;
}

/* --------------------------------------------------------------------
	ユーザー定義　ビジュアル
--------------------------------------------------------------------- */
.visual_ {
	margin-bottom: 10px;
}

/* --------------------------------------------------------------------
	ユーザー定義　モジュール（お客さま情報・ショッピングカート etc）







--------------------------------------------------------------------- */
.module_ {
	margin-bottom: 20px;
}
.module_ * {
	line-height: 1.4;
}
.module_inner_ {
	padding: 0 15px;
}
.module_inner_ .inner_ {
	background: url(../img/usr/module/bg_module_btm.png) center bottom repeat-y;
}
.module_inner_ .inner_ li,
.module_inner_ .inner_ dt,
.module_inner_ .inner_ dd {
	padding: 10px 10px 8px;
}
.module_inner_ .inner_ li strong,
.module_inner_ .inner_ dd strong {
	margin-right: 5px;
	font-size: 12pt;
}

#customers,
#cart {
	padding-bottom: 25px;
}
#customers .module_inner_ .servicemenu_ li,
#customers .module_inner_ .btn_shop_,
#cart .module_inner_ .btn_checkout_,
#cart .module_inner_ .btn_memo_  {
	margin: 0 auto;
}
#customers .module_inner_ .servicemenu_ .btn_order_,
#customers .module_inner_ .btn_shop_,
#cart .module_inner_ .btn_memo_ {
	margin-top: 10px;
}
#customers .module_inner_ .servicemenu_ .btn_memberinfo_ {
	margin-top: 5px;
}
#customers .module_inner_ .servicemenu_ .btn_point_ {
	margin-top: 5px;
}

#customers .module_inner_ .inner_ li,
#cart .module_inner_ .inner_ li {
	background: url(../img/usr/module/border_dot.png) 0 0 no-repeat;
}

#customers {
	background: url(../img/usr/module/customers/bg_customers.png) center bottom no-repeat;
}
#customers h1.member_ {
	overflow: hidden;
	padding-top: 50px;
	height: 0;
	background: url(../img/usr/module/customers/h1_member.png) 0 0 no-repeat;
}
#customers .hr_ {
	margin-top: 10px;
	padding-top: 12px;
	background: url(../img/usr/module/customers/border_customers.png) 0 0 no-repeat;
}
#customers .module_inner_ .inner_ li:first-child,
#customers .module_inner_ .inner_ dt:first-child {
	background: url(../img/usr/module/customers/bg_innertop.png) 0 0 no-repeat;
}
#customers .module_inner_ .inner_ dt:first-child {
	margin-bottom: 5px;
	padding-bottom: 0;
}
#customers .module_inner_ .inner_ dd {
	padding: 0 10px 8px 40px;
	background: url(../img/usr/module/customers/icon_shop.png) 10px 0 no-repeat;
	line-height: 20px;
}
#customers .module_inner_ .inner_ dd strong {
	font-size: 10pt;
}
#customers .module_inner_ .inner_ strong#totalpoint {
	color: #dd0000;
}
#customers .module_inner_ .inner_ strong#pointerror {
	color: #dd0000;
}
#cart {
	background: url(../img/usr/module/cart/bg_cart.png) center bottom repeat-y;
}
#cart h1 {
	overflow: hidden;
	padding-top: 50px;
	height: 0;
	background: url(../img/usr/module/cart/h1_cart.png) 0 0 no-repeat;
}
#cart .subtotal_ {
	padding: 5px 10px;
	font-size: 10pt;
	text-align: center;
}
#cart .hr_ {
	margin-top: 10px;
	padding-top: 12px;
	background: url(../img/usr/module/cart/border_cart.png) 0 0 no-repeat;
}
#cart .itemlist_ {
	font-size: 8pt;
}
#cart .itemlist_ table {
	width: 90%;
}
#cart .itemlist_ .btn_delete_ {
	padding-left: 10px;
}
#cart .module_inner_ .inner_ li:first-child {
	background: url(../img/usr/module/cart/bg_innertop.png) 0 0 no-repeat;
}

.shopinfo_ {
	border: 5px solid #dddddd;
}
.shopinfo_ .module_inner_ {
	padding: 10px 15px;
}
.shopinfo_ dt {
	padding-bottom: 10px;
	background: url(../img/usr/module/border_hl.png) left bottom repeat-x;
	font-size: 10pt;
}
.shopinfo_ dd {
	margin-top: .6em;
}

/* --------------------------------------------------------------------
	ユーザー定義　フッター
--------------------------------------------------------------------- */
#footer_ns {
	clear: both;
	/*margin-top: 50px;*/
	background: url(../img/usr/module/footer/bg_footer.png) center bottom repeat-x;
	clear:both;
	position: relative;
	margin-top: -156px;
	height: 156px;
}
#footer_ns a {
	color: #333333;
}
#footer_ns .footer_inner_ {
	padding-top: 21px;
	background: url(../img/usr/module/footer/bg_footer_shadow.png) center top no-repeat;
}
#footer_ns #fn_top,
#footer_ns #fn_middle,
#footer_ns #fn_bottom {
	position: relative;
	overflow: hidden;
	width: 99%;
}
#footer_ns #fn_top,
#footer_ns #fn_middle {
	margin-bottom: 20px;
}
#footer_ns div#fn_cat {
	overflow: hidden;
	width: 100%;
}
#footer_ns div#fn_cat ul {
	float: left;
	margin-right: 2%;
	width: 23.4%;
}
#footer_ns div#fn_cat ul.col4_ {
	margin-right: 0;
}
#footer_ns div#fn_cat li {
	margin-top: .8em;
	line-height: 1.4;
}
#footer_ns div#fn_cat li:first-child {
	margin-top: 0;
}
#footer_ns dl#catalog {
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
}
#footer_ns dl#catalog dt {
	clear: both;
	margin-bottom: 5px;
	font-weight: bold;
	line-height: 1.4;
}
#footer_ns dl#catalog dd {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #cccccc;
	line-height: 1.2;
}
#footer_ns dl#catalog dt+dd {
	padding-left: 0;
	border-left: none;
}
#footer_ns #fn_middle #secom {
	overflow: hidden;
	float: left;
	margin-right: 15px;
	width: 44px;
	height: 70px;
}
#footer_ns #fn_middle #about_shopping {
	float: left;
}
#footer_ns #fn_middle #about_shopping dt,
#footer_ns #fn_middle #about_shopping dd {
	font-size: 8pt;
	line-height: 1.5;
}
#footer_ns #fn_middle #about_shopping dt {
	padding-top: 5px;
}
#footer_ns #fn_middle #tree_planting {
	position: absolute;
	right: 0;
	bottom: 5px;
}
#footer_ns #fn_bottom {
	height: 46px;
	background-color: #b0237b;
}
#footer_ns #fn_bottom * {
	color: #ffffff;
	line-height: 1.2;
}
#footer_ns #fn,
#footer_ns #copyright {
	padding-top: 16px;
}
#footer_ns #fn {
	overflow: hidden;
	float: left;
}
#footer_ns #fn li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #ffffff;
}
#footer_ns #fn li:first-child {
	padding-left: 0;
	border-left: none;
}
#footer_ns #copyright {
	float: right;
}
/* --------------------------------------------------------------------
	ユーザー定義　フッター(医薬品専門店)
--------------------------------------------------------------------- */
#footer_ns_drug {
	clear: both;
	/*margin-top: 50px;*/
	background: url(../img/usr/module/footer/bg_footer_drug.png) center bottom repeat-x;
	clear:both;
	position: relative;
	margin-top: -156px;
	height: 156px;
}
#footer_ns_drug a {
	color: #333333;
}
#footer_ns_drug .footer_inner_ {
	padding-top: 21px;
	background: url(../img/usr/module/footer/bg_footer_shadow.png) center top no-repeat;
}
#footer_ns_drug #fn_top,
#footer_ns_drug #fn_middle,
#footer_ns_drug #fn_bottom {
	position: relative;
	overflow: hidden;
	width: 99%;
}
#footer_ns_drug #fn_top,
#footer_ns_drug #fn_middle {
	margin-bottom: 20px;
}
#footer_ns_drug div#fn_cat {
	overflow: hidden;
	width: 100%;
}
#footer_ns_drug div#fn_cat ul {
	float: left;
	margin-right: 2%;
	width: 23.4%;
}
#footer_ns_drug div#fn_cat ul.col4_ {
	margin-right: 0;
}
#footer_ns_drug div#fn_cat li {
	margin-top: .8em;
	line-height: 1.4;
}
#footer_ns_drug div#fn_cat li:first-child {
	margin-top: 0;
}
#footer_ns_drug dl#catalog {
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
}
#footer_ns_drug dl#catalog dt {
	clear: both;
	margin-bottom: 5px;
	font-weight: bold;
	line-height: 1.4;
}
#footer_ns_drug dl#catalog dd {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #cccccc;
	line-height: 1.2;
}
#footer_ns_drug dl#catalog dt+dd {
	padding-left: 0;
	border-left: none;
}
#footer_ns_drug #fn_middle #secom {
	overflow: hidden;
	float: left;
	margin-right: 15px;
	width: 44px;
	height: 70px;
}
#footer_ns_drug #fn_middle #about_shopping {
	float: left;
}
#footer_ns_drug #fn_middle #about_shopping dt,
#footer_ns_drug #fn_middle #about_shopping dd {
	font-size: 8pt;
	line-height: 1.5;
}
#footer_ns_drug #fn_middle #about_shopping dt {
	padding-top: 5px;
}
#footer_ns_drug #fn_middle #tree_planting {
	position: absolute;
	right: 0;
	bottom: 5px;
}
#footer_ns_drug #fn_bottom {
	height: 46px;
	background-color: #5C8DFE;
}
#footer_ns_drug #fn_bottom * {
	color: #ffffff;
	line-height: 1.2;
}
#footer_ns_drug #fn,
#footer_ns_drug #copyright {
	padding-top: 16px;
}
#footer_ns_drug #fn {
	overflow: hidden;
	float: left;
}
#footer_ns_drug #fn li {
	float: left;
	padding: 0 10px;
	border-left: 1px solid #ffffff;
}
#footer_ns_drug #fn li:first-child {
	padding-left: 0;
	border-left: none;
}
#footer_ns_drug #copyright {
	float: right;
}
/* --------------------------------------------------------------------
	ユーザー定義　ボタン関係







--------------------------------------------------------------------- */
div.btn_,
div.button_,
div.btn200_ {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
.wrap_ ul.btnlist_ {overflow: hidden;margin-bottom: 10px;width: 100%;}
.wrap_ li.btn200_ {float: left;margin-top: 0 !important;margin-right: 20px;}

div.btn_backtotop_,
div.btn200_,
li.btn200_ {
	overflow: hidden;
	width: 200px;
	height: 30px;
}
div.btn_cardsample_,
div.btn_orderdelete_,
div.btn_orderadd_ {
	overflow: hidden;
	margin-top: 20px;
	width: 100%;
	height: 30px;
}

div.btn_cardsample_,
div.btn_orderdelete_ {
	margin-top: 10px;
}
.btn_faq_ {overflow: hidden;width: 100%;}
div.btn_ a,
div.button_ a,
div.btn200_ a,
li.btn200_ a,
.btn_faq_ a {
	display: block;
	height: 0;
	background-image: url(../img/usr/btn/btn.png);
	background-repeat: no-repeat;
}

div.btn_t_ a {
	display: block;
	height: 0;
	background-image: url("../img/usr/btn/btn_back_t.png");
	background-repeat: no-repeat;
}

div.btn_backtotop_ a,
div.btn200_ a,
li.btn200_ a {
	padding-top: 30px;
	width: 200px;
	background-position: 0 -96px;
}
.btn_faq_ a {
	float: right;
	padding-top: 13px;
	width: 234px;
	background-position: 0 -256px;
}
.btn_faq_ a:hover {background-position: 0 -269px;}
div.btn_backtotop_ a:hover {
	background-position: 0 -126px;
}
div.btn_backtotop_ a {
	background: url("../img/usr/btn/btn13.png") 0 0!important;
}
div.btn_backtotop_ a:hover {
	/*background-position: 0 -126px;*/
	background: url("../img/usr/btn/btn13_on.png") 0 0!important;
}
li.btn_destinationlist_ a {
	background-position: -400px -96px;
}
li.btn_destinationlist_ a:hover {
	background-position: -400px -126px;
}
li.btn_tohome_ a {
	background-position: -600px -96px;
}
li.btn_tohome_ a:hover {
	background-position: -600px -126px;
}
li.btn_bundle_ a {
	background-position: -800px -96px;
}
li.btn_bundle_ a:hover {
	background-position: -800px -126px;
}
div.btn_cardsample_ a {
	float: left;
	background-position: -1000px -96px;
}
div.btn_cardsample_ a:hover {
	background-position: -1000px -126px;
}
div.btn_orderdelete_ a {
	float: right;
	background-position: -1200px -96px;
}
div.btn_orderdelete_ a:hover {
	background-position: -1200px -126px;
}
div.btn_orderadd_ a,
div.btn_guideconfirm_ a {
	margin: 0 auto;
}
div.btn_orderadd_ a {
	background-position: -1400px -96px;
}
div.btn_orderadd_ a:hover {
	background-position: -1400px -126px;
}
div.btn_guideconfirm_ a {
	background-position: -1600px -96px;
}
div.btn_guideconfirm_ a:hover {
	background-position: -1600px -126px;
}

.btn40_,
.btn160_ {
	overflow: hidden;
}
.btn40_ {
	width: 40px;
}
.btn160_ {
	width: 160px;
}
.btn_guide_ {margin-top: -40px;width: 100%;}
.btn40_ a,
.btn160_ a {
	overflow: hidden;
	display: block;
	padding-top: 30px;
	width: 160px;
	height: 0;
	background: url(../img/usr/btn/btn.png) 0 -36px no-repeat;
}
.btn40_ a {
	padding-top: 20px;
	width: 40px;
}
.btn160_ a:hover {
	background: url(../img/usr/btn/btn.png) 0 -66px no-repeat;
}
.btn_servicemenu_ a {
	padding-top: 20px;
	background-position: 0 -216px;
}

.btn_servicemenu_ a:hover {background-position: 0 -236px;}
.btn_order_ a {background-position: -160px -36px;}
.btn_order_ a:hover {background-position: -160px -66px;}
.btn_memberinfo_ a {background-position: -480px -36px;}
.btn_memberinfo_ a:hover {background-position: -480px -66px;}
.btn_shop_ a {background-position: -960px -36px;}
.btn_shop_ a:hover {background-position: -960px -66px;}
.btn_guide_ a {float: right;background-position: -1120px -36px;}
.btn_guide_ a:hover {background-position: -1120px -66px;}
.btn_accessmap_ a {background-position: -1280px -36px;}
.btn_accessmap_ a:hover {background-position: -1280px -66px;}
.btn_memo_ a {background-position: 0 -36px;}
.btn_memo_ a:hover {background-position: 0 -66px;}
.btn_delete_ a {background-position: -160px -216px;}
.btn_delete_ a:hover {background-position: -160px -236px;}
.btn_point_ a {background-position: -320px -36px;}
.btn_point_ a:hover {background-position: -320px -66px;}

.btn_applicationChange_ {overflow: hidden;margin: 10px auto 0;width: 260px;height: 30px;text-align: center;}
.btn_applicationChange_ a {display: block;padding-top: 30px;height: 0;background: url(../img/usr/btn/btn.png) -1280px -36px;}
.btn_applicationChange_ a:hover {background-position: -1280px -66px;}


#header_ns .sn_search_ span {
	display: inline-block;
	background: url(../img/usr/module/header/btn_search_on.png) 0 0 no-repeat;
}
#header_ns_drug .sn_search_ span {
	display: inline-block;
	background: url(../img/usr/module/header/btn_search_on.png) 0 0 no-repeat;
}
#cart .btn_checkout_ {
	background: url(../img/usr/btn/btn_checkout_on.png) 0 0 no-repeat;
}
.btn_servicemenu_ a {
	padding-top: 20px;
	/*background-position: 0 -216px;*/
	background: url("../img/usr/btn/btn24.png") 0 0!important;
}

.btn_servicemenu_ a:hover {
	/*background-position: 0 -236px;*/
	background: url("../img/usr/btn/btn24_on.png") 0 0!important;
}
.btn_order_ a {
	/*background-position: -160px -36px;*/
	background: url("../img/usr/btn/btn5.png") 0 0!important;
}
.btn_order_ a:hover {
	/*background-position: -160px -66px;*/
	background: url("../img/usr/btn/btn5_on.png") 0 0!important;
}
.btn_memberinfo_ a {
	/*background-position: -480px -36px;*/
	background: url("../img/usr/btn/btn7.png") 0 0!important;
}
.btn_memberinfo_ a:hover {
	/*background-position: -480px -66px;*/
	background: url("../img/usr/btn/btn7_on.png") 0 0!important;
}
.btn_shop_ a {
	/*background-position: -960px -36px;*/
	background: url("../img/usr/btn/btn10.png") 0 0!important;
}
.btn_shop_ a:hover {
	/*background-position: -960px -66px;*/
	background: url("../img/usr/btn/btn10_on.png") 0 0!important;
}
.btn_point_ a {
	/*background-position: -160px -36px;*/
	background: url("../img/usr/btn/btn6.png") 0 0!important;
}
.btn_point_ a:hover {
	/*background-position: -160px -66px;*/
	background: url("../img/usr/btn/btn6_on.png") 0 0!important;
}

#header_ns .sn_search_ input.btn_search_:hover,
#header_ns_drug .sn_search_ input.btn_search_:hover,
#cart .btn_checkout_ input:hover {
	filter: alpha(opacity=0);
	-ms-filter: alpha(opacity=0);
	opacity: 0;
}

#cart .btn_checkout_ {
	background: url(../img/usr/btn/btn_checkout_on.png) 0 0 no-repeat;
}
#header_ns .sn_search_ input.btn_search_:hover,
#header_ns_drug .sn_search_ input.btn_search_:hover,
#cart .btn_checkout_ input:hover,
#jscart_replace_ .btn_checkout_ input:hover
 {
	filter: alpha(opacity=0);
	-ms-filter: alpha(opacity=0);
	opacity: 0;
}

#jscart_replace_ .btn_checkout_ {
	overflow: hidden;
}

#jscart_replace_ .btn_checkout_ {
	width: 160px;
}

#jscart_replace_ .btn_checkout_ a {
	overflow: hidden;
	display: block;
	padding-top: 30px;
	width: 160px;
	height: 0;

}
#jscart_replace_ .btn_checkout_ {
	background: url(../img/usr/btn/btn_checkout_on.png) 0 0 no-repeat;
}

.module_inner_ .inner_#lightname {
	background: url(../img/usr/module/bg_module_btm.png) center bottom no-repeat;
	height:60px;
}

#header_ns #header_bottom   #header_customerchange,
#header_ns #header_bottom   #header_delivery,
#header_ns_drug #header_bottom   #header_customerchange,
#header_ns_drug #header_bottom   #header_delivery
{
	height: auto;
	line-height: 19px;
}
/*▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼▼
PC side include部分 03.18*/
.rightmenuframe_ .rightmenuframe_top,
.rightmenuframe_ .rightmenuframe_top2 {
	background: none !important;
	height: auto !important;
}

.rightmenuframe_ .banner,
.rightmenuframe_ .bn_calendar {
	margin-bottom: 10px;
}
.rightbunner{
	background: url(../img/usr/bg/bg_bunnerbase.png) no-repeat;
	margin-bottom: 10px;
	padding: 15px;
}

.rightbunner a{
	background: #999999;
	display: block;
	height: 200px;
	width: 200px;
}

#delivery .inner {
	/*border: 1px solid #CCC;*/
	border-top: none;
	padding: 10px;
	margin-top: -3px;
}

#deliv_h h1 a {
    display: block;
    height: 0;
    overflow: hidden;
    width: 230px;
	height: 40px;
	background: url(../img/usr/btn/btn_delivery_date.png) no-repeat;
	background-position: 0px 0px;
}

#delivery h1 a span {
	display: none;
}

#deliv_h h1 a:hover {
	background: url(../img/usr/btn/btn_delivery_date_on.png) no-repeat;
	background-position: 0px 0px;
}

#delivery h2 {
	color: #b0237b;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 5px;
}

#delivery h2.even {
	color: #e49f05;
}

#delivery .timeBox {
	border: 5px solid #D2C4AD;
	font-size: 11px;
	margin-bottom: 15px;
}

#delivery .timeBox table {
	margin-bottom: 0px;
}

#delivery .timeBox p:first-child {
	color: #B2986F;
	font-weight: bold;
	text-align: center;
	padding: 3px 0;
	font-weight: bold;
	margin-bottom: 5px;
	border-bottom: 1px dotted #ccc;
}

#delivery .timeBox  {
	padding: 0 5px;
}

#delivery .timeBox  #date {
	width: 115px;
	float: left;
}

#delivery .timeBox  #time {
	width: 115px;
}

#delivery .timeBox  .renewal {
	width: 55px;
	float: right;
}

#delivery .timeBox  th,
#delivery .timeBox  td {
	padding: 3px 0 1px;
}

#delivery .timeBox  .renewal a {
    display: block;
    height: 0;
    overflow: hidden;
    width: 54px;
	height: 18px;
	background: url(../img/usr/btn/btn_renewal.png) no-repeat;
	background-position: 0px 0px;
}

#delivery .timeBox  .renewal a:hover {
	background: url(../img/usr/btn/btn_renewal.png) no-repeat;
	background-position: 0px -18px;
}

#delivery .timeBox  .renewal a span {
	display: none;
}

#delivery .timeBox  .cautions {
	font-size: 9px;
	color: #E60012;
	padding-top: 3px;
}

#delivery .timeTable02 td {
}

#delivery .timeTable02 {
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}

#delivery table {
	border-collapse: collapse;
	width: 100%;
	margin-bottom: 10px;
	table-layout: fixed;
}

#delivery .timeTable table {
	border: 1px solid #FFFFFF;
}

#delivery .timeTable td.bdBtm {
	font-size: 11px;
}

#delivery .timeTable th,
#delivery .timeTable td {
	padding: 0 3px;
	border: 1px solid #FFFFFF;
	text-align: center;
	font-size: 12px;
}

#delivery .timeTable td span.day {
	font-size: 9px;
}

.timeTable table th {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
    text-align: center !important;
}

.timeTable table th.deadline {
	width: 23%;
}

#delivery .timeTable th.border {
    background: none repeat scroll 0 0 #999999;
    color: #FFFFFF;
}

#delivery .timeTable table .border { 
	border-right: 1px solid #FFFFFF;
}

#delivery .timeTable table .deadline {
    background: none repeat scroll 0 0 #E83C4A;
    color: #FFFFFF;
}

#delivery .timeTable td.deadlineTime {
	color: #E60012;
	width: 22%;
	font-size: 12px;
}

#delivery .timeTable02 td.deadlineTime {
	padding: 0px 15px 0px 3px;
}

#delivery .timeTable td.tgt {
	font-size: 15px;
	text-align: center !important;
}

#delivery .timeTable table tr.odd td {
    background: #DCDCDC !important;
}

#delivery .timeTable table tr.even td {
	background: #EEEEEE !important;
}

#delivery h3 {
    color: #9F7F4C;
    font-size: 12px;
    font-weight: bold;
}

table .thArea {
	 background: none repeat scroll 0 0 #999999;
}

#delivery div.timeTable:last-child table th,
#delivery div.timeTable:last-child table td {
	text-align: left;
}

#delivery .timeTable02 table tr:last-child td:last-child {
	text-shadow: none;
}

#deliveryTime h1,
#deliveryPrice h1 {
	background: url(../img/usr/sidebar/bg_title.png) no-repeat;
	width: 230px;
	height: 36px;
	line-height: 33px;
	padding-left: 50px;
	font-weight: bold;
	font-size: 14px;
}

#deliveryTime .bg,
#deliveryPrice .bg {
	background: #F5F5F5;
	padding: 5px 5px 10px;
	margin-bottom: 15px;
	font-size: 11px;
}

#deliveryPrice .bg table span {
	font-weight: bold;
}

#deliveryPrice .bg table span.fwBold {
	color: #404040;
}

#deliveryTime .bg span,
#deliveryPrice .bg span {
	color: #FF0000;
}

#deliveryTime .bg table,
#deliveryPrice .bg table {
	border-collapse: collapse;
	margin-bottom: 10px;
}

#deliveryTime .bg table th,
#deliveryTime .bg table td,
#deliveryPrice .bg table th,
#deliveryPrice .bg table td {
	border: 1px solid #565656;
	padding: 3px;
	text-align: center;
	font-size: 9px;
}

#deliveryTime .bg table td,
#deliveryPrice .bg table {
	background: #FFF;
}

#deliveryPrice .bg table th {
	text-align: left;
}

#deliveryTime .bg table th {
	background: #BCBCBC;
}

#deliveryTime .bg table th.date {
	background: #E053B4;
	color: #FFFFFF;
}

#deliveryTime .bg table td.date {
	background: #FFFFE3;
}

.bannerList {
	background: #F5F5F5;
	padding: 15px;
	margin-bottom: 15px;
}

.bannerList ul li {
	margin-bottom: 10px;
}

.bannerList ul li:last-child {
	margin-bottom: 0px;
}

.bannerQr {
	background: #F5F5F5;
	padding: 3px;
}

.bannerQr {
	background: url(../img/usr/sidebar/bn_qr.png) no-repeat center;
	display: block;
	width: 224px;
	height: 136px;
}

.bannerQr span.text {
    color: #CBD040;
    padding: 35px 0px 3px 122px;
    width: 90px;
	display: block;
	text-decoration: none;
}

.bannerQr a:hover {
	text-decoration: none !important;
}

.bannerQr a span.detail { 
    display: block;
    padding: 0 0 0 10px;
	margin: 0 10px 0 0;
	width: 85px;
    float: right;
	color: #FFF !important;
	font-size: 11px;
	text-decoration: underline;
	background: url(../img/usr/icon/icon_detail.png) no-repeat center left;
}

.bannerQr a:hover span.detail {
	text-decoration: none;
}
/*▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲▲*/

#header_ns #gn_top a ,
#header_ns_drug #gn_top a {
	display: block;

	width: 100px;
	background: url(../img/usr/module/header/gn.png) 0 0 no-repeat;

	line-height: 1.3;
	padding-top: 17px;
	text-align: center;
    font-size: 13px;
    height: 45px;
}

* html #header_ns .gn_left_ dd ul ,
* html #header_ns .gn_right_ dd  ul ,
* html #header_ns_drug .gn_left_ dd ul ,
* html #header_ns_drug .gn_left_ dd ul {/* IE 6 */

    height: 45px;
    position: absolute;
    top: 50%;
    margin-top: -1em;


}

* html #header_ns .gn_left_ dd li a,
* html #header_ns .gn_right_ dd li a,
* html #header_ns_drug .gn_left_ dd li a,
* html #header_ns_drug .gn_right_ dd li a {/* IE 6 */
	display:inline;
	zoom:1;
	

}
*+html #header_ns .gn_left_ dd li a,
*+html #header_ns .gn_right_ dd li a,
*+html #header_ns_drug .gn_left_ dd li a,
*+html #header_ns_drug .gn_right_ dd li a{/* IE 7 */
	display:inline;
	zoom:1;
}

div.btn_orderdelete_ input {
	padding: 0px 0px;
	float:right;
}

*+html #header_ns #header_bottom  form#header_customerchange,
*+html #header_ns #header_bottom  form#header_delivery, 
*+html #header_ns_drug #header_bottom  form#header_customerchange,
*+html #header_ns_drug #header_bottom  form#header_delivery 
{
	height:0px;
	width:0px;
	line-height:0px;
	}

*+html #header_ns #header_bottom  form#header_customerchange input,
*+html #header_ns #header_bottom  form#header_delivery input,
*+html #header_ns_drug #header_bottom  form#header_customerchange input,
*+html #header_ns_drug #header_bottom  form#header_delivery input
{
	height: 0px;
	width:0px;
	}

#deliv_v h1 a {
    background: url("../img/usr/btn/btn_delivery_hide.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 40px;
    overflow: hidden;
    width: 230px;
}

#deliv_v h1 a:hover {
	background: url(../img/usr/btn/btn_delivery_hide_on.png) no-repeat;
	background-position: 0px 0px;
}


.leftmenuframe_ .banner {
	margin-bottom: 5px;
}

.leftmenuframe_ .banner img {
	margin-bottom: 5px;
}

#header_ns .gn_right_,
#header_ns_drug .gn_right_ {
	overflow: hidden;
	padding: 0 4px 0 0;
}

*+html #header_ns .gn_left_ dd,
*+html #header_ns .gn_right_ dd,
*+html #header_ns_drug .gn_left_ dd,
*+html #header_ns_drug .gn_right_ dd {
	overflow: hidden;
	height: 45px;
}

*+html #header_ns .gn_left_ dd li a,
*+html #header_ns .gn_right_ dd li a,
*+html #header_ns_drug .gn_left_ dd li a,
*+html #header_ns_drug .gn_right_ dd li a {
	display: block;
	width: 100px;
	background: url(../img/usr/module/header/gn.png) 0 0 no-repeat;
	line-height: 1.3;
	padding-top: 6px;
	text-align: center;
    font-size: 13px;
    height: 45px;
	display: table-cell;  
	vertical-align: middle;
	font-weight:bolder;
}

#footer_ns #fn_middle #about_shopping {
	text-align: left;
}
#footer_ns_drug #fn_middle #about_shopping {
	text-align: left;
}

.cart_item_ {
	max-height: 460px;
	overflow:auto;
	overflow-y:scroll;
}

/* --------------------------------------------------------------------
	タブレット用
-------------------------------------------------------------------- */
.tablet_ .container_ div.contents_ {
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 95%;
	max-width: 95%;
}
.tablet_ .container_ div.contents_.homepage{
	margin: 0 auto;
	padding-right: 10px;
	padding-left: 10px;
	min-width: 95%;
	max-width: 95%;
}

#footer_ns .order_tbl {
    margin: 0 auto;
    max-width: 90%;
    min-width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

#footer_ns_drug .order_tbl {
    margin: 0 auto;
    max-width: 90%;
    min-width: 90%;
    padding-left: 10px;
    padding-right: 10px;
}

div.btn_ .order_change_btn_est a,
div.btn_ .tablet_btn_est a {
    background-image: url("../img/usr/btn/btn_back_t.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 60px;
    width: 320px;
}

div.btn_ .order_change_btn_est a:hover,
div.btn_ .tablet_btn_est a:hover {
    background-image: url("../img/usr/btn/btn_back_on_t.png");
    background-repeat: no-repeat;
    display: block;
    height: 60px;
    width: 320px;
}

div.btn_ .back_tablet_ a {
    background-image: url("../img/usr/btn/btn_back_t.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    display: block;
    height: 60px;
    width: 320px;
}

div.btn_ .back_tablet_ a:hover {
    background-image: url("../img/usr/btn/btn_back_on_t.png");
    background-repeat: no-repeat;
    display: block;
    height: 60px;
    width: 320px;
}
