<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Dmit_Banner::banner_manager" title="Banner manager"  module="Dmit_Banner" action="banner/index/index" resource="Dmit_Banner::banner_manager"/>
        <add id="Dmit_Banner::list_manager" title="List manager" parent="Dmit_Banner::banner_manager" module="Dmit_Banner" action="banner/index/index" resource="Dmit_Banner::save"/>
        <add id="Dmit_Banner::new_banner" title="New Banner" parent="Dmit_Banner::banner_manager" module="Dmit_Banner" action="banner/index/new" resource="Dmit_Banner::save"/>
    </menu>
</config>
